<div class="modal">
    <div class="modal_bg"></div>
    <a class="close_modal">X</a>
    <div class="athlete_modal">
      <ul>
        <li>Name: {{name}}</li>
        <li>Sport: {{prettySport sport}}</li>
        <li>Country: {{fullCountryName country}}</li>
      </ul>
    </div>
</div>